<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center;">
    <h3>CleanHeroes Lite</h3>
    <p>Ingresa tus credenciales</p>
  </div>

  <ion-list>
    <ion-item>
      <ion-input label="Correo" label-placement="floating" type="email" placeholder="ejemplo@correo.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Contraseña" label-placement="floating" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" shape="round">
    Ingresar
  </ion-button>
</ion-content>