<ion-header>
  <ion-toolbar color="success">
    <ion-title>Registro CleanHeroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center; margin-bottom: 20px;">
    <h2>Crear Cuenta "Yanzatza Limpio"</h2>
  </div>

  <ion-list>
    <ion-item>
      <ion-select label="Selecciona tu Rol" label-placement="floating">
        <ion-select-option value="ciudadano">Ciudadano (Héroe)</ion-select-option>
        <ion-select-option value="institucion">Institución / Empresa</ion-select-option>
        <ion-select-option value="gad">Municipio / GAD / Yanzatza</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="Nombre Completo" label-placement="floating" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Correo Electrónico" label-placement="floating" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Contraseña" label-placement="floating" type="password"></ion-input>
    </ion-item>
  </ion-list>
  

  <ion-button expand="block" color="success" class="ion-margin-top">
    Registrarse
  </ion-button>
</ion-content>
<ion-item>
  <ion-input 
    label="Correo Electrónico" 
    label-placement="floating" 
    type="email" 
    autocapitalize="none" 
    inputmode="email">
  </ion-input>
</ion-item>